<main
  class="
    container
    p-0
    max-w-3xl
    flex-col 
    justify-center 
    bg-dark-jungle-green
    border-1
    border-solid
    border-baltic-sea
  "
>
  <section class="
    flex
    flex-col
    items-center
    py-6
    px-8
  ">
    <img 
      src="assets/img/china.webp" 
      alt=""
      class="relative w-64 h-48 bottom-16" 
    >

    <div class="flex flex-col gap-4 items-center">
      <h1 class="text-4xl font-bold">China</h1>
      <h2>People's Republic of China</h2>
    </div>

    <div 
      class="
        mt-8
        flex
        gap-4
      "
    >
      <span>Population<p></p></span>
      <span>Area(Km2)<p></p></span>
    </div>
  </section>
  
  <section class="flex flex-col w-full">
    <div class="countryInfos">
      <h3>Capital</h3>
      <p>Chinese yuan</p>
    </div>

    <div class="countryInfos">
      <h3>Subregion</h3>
      <p>Chinese yuan</p>
    </div>

    <div class="countryInfos">
      <h3>Language</h3>
      <p>Chinese yuan</p>
    </div>

    <div class="countryInfos">
      <h3>Curriences</h3>
      <p>Chinese yuan</p>
    </div>

    <div class="countryInfos">
      <h3>Continents</h3>
      <p>Chinese yuan</p>
    </div>
  </section>
  
  <section class="countryInfos flex flex-col" >
    <h3>Neighbouring Countries</h3>
    <div class="flagsContainer">

    </div>
  </section>
</main>