@if(this.countryData != null) {
  <figure
    class="
      hidden
      absolute
      rounded-full
      p-2
      bg-baltic-sea
      cursor-pointer
      apear
      z-50
      left-4
      -top-44
      mobile: apear
    "
    (click)="navigateToHome()"
  >
    <img 
      src="assets/svg/arrow_left.svg" 
      alt="Back to home"
    >
  </figure>

  <main
    class="
      container
      border
      p-0
      gap-0
      max-w-3xl
      flex-col 
      justify-center 
      bg-dark-jungle-green
    "
  >
    <section class="
      flex
      flex-col
      items-center
      py-6
      px-8
      relative
    ">
      <figure
        class="
          absolute
          rounded-full
          top-7
          -left-24
          p-2
          bg-baltic-sea
          cursor-pointer
          disapear
        "
        (click)="navigateToHome()"
      >
        <img 
          src="assets/svg/arrow_left.svg" 
          alt="Back to home"
        >
      </figure>

      <a 
        [href]="countryData.maps.googleMaps" 
        target="_blank"
      >
        <img 
          class="
            rounded
            object-cover
            relative
            max-w-96 
            w-auto
            h-48 
            bottom-16
            cursor-pointer
          "
          [src]="this.countryData.flags.svg"
          alt="Flag of {{ this.countryData.name.nativeName.nno }}"
        >
      </a>
      
      <div 
        class="
        flex 
        flex-col 
        gap-4 
        items-center"
      >
        <h1 
          class="text-4xl font-bold">{{ this.countryData.name.common }}</h1>
        <h2>{{ this.countryData.name.official }}</h2>
      </div>

      <div 
        class="
          mt-8
          flex
          flex-wrap
          justify-between
          gap-8
        "
      >
        <span
          class="
            flex
            gap-4
            p-4
            bg-baltic-sea
            text-sm
            alignCenter
          "
        >
          Population
          <div class="h-full w-1 bg-dark-jungle-green"></div>
          <p>{{ this.countryData.population.toLocaleString('en') }}</p>
        </span>

        <span
          class="
            flex
            gap-4
            p-4
            bg-baltic-sea
            text-sm
            alignCenter
          "
        >
          Area (Km2)
          <div class="h-full w-1 bg-dark-jungle-green"></div>
          <p>{{ this.countryData.area.toLocaleString('en')}}</p>
        </span>
      </div>
    </section>
    
    <section class="flex flex-col w-full mt-10">
      <div class="countryInfos">
        <h3>Capital</h3>
        <p>{{ this.countryData.capital }}</p>
      </div>

      @if(this.countryData.subregion) {
        <div class="countryInfos">
          <h3>Subregion</h3>
          <p>{{ this.countryData.subregion }}</p>
        </div>
      } @else {
        <div class="countryInfos">
          <h3>Region</h3>
          <p>{{ this.countryData.region }}</p>
        </div>
      }

      <div class="countryInfos">
        <h3>Language</h3>

        <div class="flex gap-2">
          <p *ngFor="let languages of this.countryData.languages | keyvalue">
            {{ languages.value }},
          </p>
        </div>
      </div>

      <div class="countryInfos">
        <h3>Curriences</h3>

        <div class="flex gap-2">
          <p *ngFor="let currency of this.countryData.currencies | keyvalue">
            {{ currency.value.name }},
          </p>
        </div>
      </div>

      <div class="countryInfos">
        <h3>Continents</h3>
        <p>{{ this.countryData.continents }}</p>
      </div>
    </section>
    
    <section class="countryInfos flex flex-col gap-4">
      <h3>Neighbouring Countries</h3>

      <div class="
        flagsContainer
        justify-around
        laptop: justify-start
      ">
        @if(this.countryData.borders) {
          <div
            *ngFor="let borderCountryArray of this.borderCountries"
            class="
              cursor-pointer
              flex
              justify-center
              items-center
            "
            (click)="navigateToCountry(borderCountryArray[0])"
          >
            <a
              *ngFor="let borderCountry of borderCountryArray"
              class="
                cursor-pointer
                flex
                flex-col
                items-center
                gap-1
              "
            >
              <img
                src="https://flagcdn.com/w2560/{{ this.borderCountry.cca2.toLowerCase() }}.png"
                [alt]="'Flag of ' + borderCountry.name.common"
              >
              <span
                class="
                  text-xs
                  text-white
                "
              >
                {{ borderCountry.name.common }}
              </span>
            </a>
          </div>
        } @else {
          <div
            class="
              flex
              justify-center
              items-center
              w-full
              mt-4
            "
          >
            This country don't have borders
          </div>
        }
      </div>
    </section>
  </main>
}