<div 
  class="
    w-full
    min-w-850
    overflow-auto
    tablet:overflow-x-hidden
  "
>
  <table 
    class="
      w-full
      text-left
      text-base
      border-spacing-8
    "
  >
    <thead
      class="
        border-b-1
        border-solid
        border-baltic-sea
        text-pale-sky
        text-xs
        font-bold
      "    
    >
      <tr 
        class="
          text-slate-600
          *:py-4
          *:text-pale-sky
        "
      >
          <th>Flag</th>
          <th>Name</th>
          <th>Population</th>
          <th>Area (km²)</th>
          <th>Region</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let country of data" 
        class="
          *:align-middle
          *:py-3
          *:rounded-none
          transition-all
          hover:bg-dark-jungle-green-2
          hover:cursor-pointer
        "
        [routerLink]="['/country', country.name.common]" 
      >
        <td>
          <a 
            [href]="country.maps.googleMaps" 
            target="_blank"
          >
            <img 
              class="
                rounded
                object-cover
                w-54
                h-10
              "
              src="https://flagcdn.com/w2560/{{ country.cca2.toLowerCase() }}.png"
              alt="Flag of {{ country.name.common }}"
            >
          </a>
        </td>
        <td>{{ country.name.common }}</td>
        <td> {{ country.population.toLocaleString('en-US') }}</td>
        <td>{{ country.area.toLocaleString('en-US') }}</td>
        <td>{{ country.region }}</td>
      </tr>
    </tbody>
  </table>
</div>