<div 
  class="
    w-full
    min-w-850
    overflow-x-auto
    tablet:overflow-x-hidden
  "
>
  <table 
    class="
      w-full
      min-w-850
      text-left
      text-base
      border-spacing-8
    "
  >
    <thead
      class="
        border-b-1
        border-solid
        border-baltic-sea
        text-pale-sky
        text-xs
        font-bold
      "    
    >
      <tr 
        class="
          text-slate-600
          *:py-4
          *:text-pale-sky
        "
      >
          <th>Flag</th>
          <th>Name</th>
          <th>Population</th>
          <th>Area (km²)</th>
          <th>Region</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let country of data" 
        class="
          *:align-middle
          *:py-3
        "
      >
          <td>
            <img 
              class="
                rounded
                object-cover
                w-20
                h-12
              "
              src="https://flagcdn.com/w80/{{ country.cca2.toLowerCase() }}.png"
              alt="Flag of {{ country.name.common }}">
          </td>
          <td>{{ country.name.common }}</td>
          <td> {{ country.population.toLocaleString('en-US') }}</td>
          <td>{{ country.area.toLocaleString('en-US') }}</td>
          <td>{{ country.region }}</td>
      </tr>
    </tbody>
  </table>
</div>