<form class="flex flex-col gap-8 max-w-96 w-full">
  <section>
    <label class="customLabel">Sort by</label>

    <div
      class="customSelect justify-between cursor-pointer py-2 px-4 border-2 border-solid border-baltic-sea"
      (click)="showSortOptions()"
    >
      {{ this.criteriaSort }}

      @if (apearSortClass) {
      <img src="assets/svg/angle_up.svg" alt="Angle up icon" class="w-8 h-8"/>
      } @else {
      <img src="assets/svg/angle_down.svg" alt="Angle down icon" class="w-8 h-8"/>
      }
    </div>

    <nav
      class="flex-col mt-2 p-2 gap-1 bg-baltic-sea rounded-sm"
      [ngClass]="{
        'apear': apearSortClass,
        'disapear': !apearSortClass
      }"
    >
      <span
        *ngFor="let item of criteries"
        class="customOption"
        (click)="emitSort(item)"
      >
        {{ item }}
      </span>
    </nav>
  </section>

  <section>
    <label class="customLabel">Region</label>

    <div class="filterDiv">
      <button
        *ngFor="let item of regions"
        [ngClass]="{
          'toggleDisabled': item.active == false,
          'toggleEnabled': item.active == true,
        }"
        (click)="toggleRegion(item, $event)"
      >
        {{ item.name }}
      </button>
    </div>
  </section>

  <section>
    <label class="customLabel">Status</label>

    <div
      class="flex gap-1 items-center mb-3"
      *ngFor="let item of statusOptions"
    >
      <span
        class="w-6 h-6 rounded-5 border-solid border-iron"
        
        [ngClass]="{
          'checkboxEnabled': item.active,
          'checkboxDisabled': !item.active
        }"
        
        (click)="checkStatus(item, $event)"
      >
      </span>

      <label class="ms-2 font-medium text-sm text-gray-900 dark:text-gray-300">
        {{ item.name }}
      </label>
    </div>
  </section>
</form>
