@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .customLabel {
    @apply
      text-xs
      text-pale-sky
      font-bold
      mb-8
  }

  .filterDiv {
    @apply
      flex
      flex-wrap
      items-center
      justify-start
      gap-3
  }

  .customSelect {
    @apply
      flex
      flex-wrap
      items-center
      justify-start
  }

  .customOption {
    @apply
      py-1
      px-2
      rounded-5
      text-sm
      text-iron
      cursor-pointer
      hover:bg-dodger-blue
  }

  .toggleDisabled {
    @apply
      py-2
      px-3
      text-xs
      text-iron
      font-medium
      hover:bg-baltic-sea
  }

  .toggleEnabled {
    @apply
      py-2
      px-3
      text-xs
      text-iron
      font-bold
      bg-dodger-blue
      hover:bg-cornflower-blue
  }

  .apear {
    @apply
      flex
  }

  .disapear {
    @apply
      hidden
  }
}