<section 
  class="
    w-full
    flex
    flex-wrap
    justify-between
    items-center
    gap-8
  "
>
    <span 
      class="
        font-bold
        text-pale-sky
      "
    >
        Found {{ NumberCountries }} countries
    </span>

    <input 
      type="text" 
      placeholder="Search by Name, Region, Subregion"
      class="
        py-3
        px-4
        pl-14
        w-full
        font-medium
        text-sm
        text-left
        rounded-sm
        text-iron
        bg-baltic-sea
        outline-none
        focus:border-05
        focus:border-pale-sky
        focus:border-solid
        tablet:max-w-96
      "
    >
</section>