<section class="w-full flex flex-wrap justify-between items-center gap-8">
  <span class="font-bold text-pale-sky">
    Found {{ NumberCountries }} countries
  </span>

  <form class="flex items-center bg-baltic-sea max-w-96 w-96">
    <figure class="p-3">
      <img src="assets/svg/search.svg" alt="Search icon"/>
    </figure>

    <input
      class="searchInput w-full"
      #searchCountryInput
      type="text"
      placeholder="Search by Name, Region, Subregion"
      class="searchInput w-full"
      (input)="onSearch(searchCountryInput.value)"
    />
  </form>
</section>
