<section 
  class="
    w-full
    flex
    flex-wrap
    justify-between
    items-center
    gap-8
  "
>
    <span 
      class="
        font-bold
        text-pale-sky
      "
    >
        Found 234 countries
    </span>

    <div 
      class="
        flex
        gap-1  
      "
    >
      <span 
        class="
          absolute
          top-6
        "
      >
          <img src="assets/svg/search.svg" alt="Seatch Icon">
      </span>
      
      <input 
        type="text" 
        placeholder="Search by Name, Region, Subregion"
        class="
          py-3
          px-4
          pl-14
          w-96
          font-medium
          text-sm
          text-left
          rounded-small
          text-iron
          bg-baltic-sea
          outline-none
          focus:border-1
          focus:border-pale-sky
          focus:border-solid
        "
      >
    </div>
    
</section>