<main 
  class="
    container
    max-w-1250
    flex-col 
    justify-center 
    bg-dark-jungle-green
    border
  "
>
  <app-search-field 
    class="w-full"
    [NumberCountries]="allCountriesData.length"
  ></app-search-field>
  
  <section 
    class="
      laptop:flex
      w-full
      gap-8
    " 
  >
    <app-filter 
      class="max-w-72 w-full"
    ></app-filter>

    <div class="overflow-auto">
      <app-countries-table 
        class="w-full" 
        [data]="countriesData"
      ></app-countries-table>
    </div>
  </section>

  <div 
    class="
      flex 
      flex-1 
      justify-between 
      sm:hidden mt-4
    "
  >
    <button
      (click)="changePage(currentPage - 1)"
      class="paginatorButtons"
    >
      <img src="assets/svg/arrow_left.svg" alt="Arrow left svg icon">
      Previous
    </button>

    <span 
      class="
        px-4 
        py-2 
        text-sm 
        font-medium
      "
    >
      Page {{ currentPage }} of {{ totalPages }}
    </span>
    
    <button
      (click)="changePage(currentPage + 1)"
      class="paginatorButtons"
    >
      Next
      <img src="assets/svg/arrow_right.svg" alt="Arrow right svg icon">
    </button>
  </div>
</main>